# Pandas 
pandas stands for panel data & is the core library for data analysis and data manipulation.

Its consist of single and multidimentional data structure for data manipulation

> Single dimension - series Object

> Multidimenion - data frame

# Series Object : 
Is one dimensional labeled array .

# install pandas with pip
pip install pandas

In [4]:
import pandas as pd

In [5]:
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
#changing Index

In [5]:
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [6]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
# using with dictionary 

pd.Series({'k1':10,'k2':20,'k3':36})

k1    10
k2    20
k3    36
dtype: int64

In [8]:
s2=pd.Series({'k1':10,'k2':20,'k3':30},index=['k3','k1','k4','k2'])

In [9]:
s2

k3    30.0
k1    10.0
k4     NaN
k2    20.0
dtype: float64

In [11]:
# Extracting individual elements 

s3=pd.Series([1,2,3,4,5,6,7])
s3[3]                           # indexing

4

In [12]:
s3[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [13]:
s3[-3:]

4    5
5    6
6    7
dtype: int64

In [14]:
# basic Math operations in series

In [15]:
# adding a Scaler values to series values

s4=pd.Series([1,2,3,4,5])
s4+5

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [16]:
# adding two series values 
s5=pd.Series([10,20,30,40,50])
s4+s5

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [17]:
s5-100

0   -90
1   -80
2   -70
3   -60
4   -50
dtype: int64

# Data Frames
Data frame is a 2-Dimensional labelled data structures

Data frames comprises of rows and columns

In [18]:
# how to create a DataFrames

In [19]:
import pandas as pd

In [20]:
pd.DataFrame({"Name":['Sami',"jerk","Anny"],"Marks":[76,25,86]})

   Name  Marks
0  Sami     76
1  jerk     25
2  Anny     86

# DataFrames in built function

head( ) - to show ist 5 records

shape- to show rows and columns of table

describe( ) - describe the structure of table

tail( )- to show last 5 records

In [21]:
iris=pd.read_csv(r'C:\Users\Tanushree Sahu\Desktop\std_percentage.csv')

In [22]:
iris.head()

   Sepal_length  Sepal_width  Petal_length  Petal_width     Species
0           2.5         0.44          1.67         3.00      Sentos
1           0.5         0.41          2.50         1.51  versicolor
2           4.4         0.12          8.10         2.20   virginica
3           1.5         3.10          7.40         2.10      Sentos
4           1.2         3.00          2.10         2.36      Sentos

In [23]:
iris.tail()

    Sepal_length  Sepal_width  Petal_length  Petal_width     Species
14          1.11         2.50          1.01         0.44      Sentos
15          1.60         6.10          2.20         0.41  versicolor
16          2.61         1.02          7.10         7.01   virginica
17          1.02         6.10          0.61         8.10      Sentos
18          6.10         1.06          6.12         2.30  versicolor

In [24]:
iris.shape

(19, 5)

In [25]:
iris.describe()

       Sepal_length  Sepal_width  Petal_length  Petal_width
count     19.000000    19.000000     19.000000    19.000000
mean       2.778421     2.396316      3.189474     2.930526
std        2.640423     2.094671      2.552954     2.908714
min        0.220000     0.120000      0.120000     0.220000
25%        0.760000     0.815000      1.835000     0.500000
50%        1.600000     2.100000      2.220000     2.100000
75%        4.750000     3.050000      4.710000     4.650000
max        8.100000     7.100000      8.100000     8.100000

extracting some selected rows and columns from data frame 

loc and iloc are two commonly used functions.

.loc[ ]- selects rows and columns with specific labels

.iloc[ ]- selects rows and columns at specific integer positions

In [30]:
iris.iloc[0:3,0:2]

   Sepal_length  Sepal_width
0           2.5         0.44
1           0.5         0.41
2           4.4         0.12

In [31]:
iris.loc[1:5,('Sepal_length','Petal_length')]

   Sepal_length  Petal_length
1           0.5          2.50
2           4.4          8.10
3           1.5          7.40
4           1.2          2.10
5           5.1          2.33

In [32]:
iris.head()

   Sepal_length  Sepal_width  Petal_length  Petal_width     Species
0           2.5         0.44          1.67         3.00      Sentos
1           0.5         0.41          2.50         1.51  versicolor
2           4.4         0.12          8.10         2.20   virginica
3           1.5         3.10          7.40         2.10      Sentos
4           1.2         3.00          2.10         2.36      Sentos

In [36]:
iris.drop("Species",axis=1)              # Dropping column  axis =1

    Sepal_length  Sepal_width  Petal_length  Petal_width
0           2.50         0.44          1.67         3.00
1           0.50         0.41          2.50         1.51
2           4.40         0.12          8.10         2.20
3           1.50         3.10          7.40         2.10
4           1.20         3.00          2.10         2.36
5           5.10         1.51          2.33         1.10
6           6.30         2.20          2.80         6.30
7           7.70         2.10          3.30         7.70
8           0.50         2.36          6.70         0.50
9           1.60         1.10          2.22         1.60
10          0.22         0.60          2.16         0.22
11          0.50         7.10          2.00         0.50
12          8.10         0.61          0.12         8.10
13          0.23         4.10          0.16         0.23
14          1.11         2.50          1.01         0.44
15          1.60         6.10          2.20         0.41
16          2.61         1.02          7.10         7.01
17          1.02         6.10          0.61         8.10
18          6.10         1.06          6.12         2.30

In [37]:
iris.head()

   Sepal_length  Sepal_width  Petal_length  Petal_width     Species
0           2.5         0.44          1.67         3.00      Sentos
1           0.5         0.41          2.50         1.51  versicolor
2           4.4         0.12          8.10         2.20   virginica
3           1.5         3.10          7.40         2.10      Sentos
4           1.2         3.00          2.10         2.36      Sentos

In [38]:
iris.drop([4,6,7],axis=0)   # dropping rows axis =0

    Sepal_length  Sepal_width  Petal_length  Petal_width     Species
0           2.50         0.44          1.67         3.00      Sentos
1           0.50         0.41          2.50         1.51  versicolor
2           4.40         0.12          8.10         2.20   virginica
3           1.50         3.10          7.40         2.10      Sentos
5           5.10         1.51          2.33         1.10   virginica
8           0.50         2.36          6.70         0.50   virginica
9           1.60         1.10          2.22         1.60   virginica
10          0.22         0.60          2.16         0.22  versicolor
11          0.50         7.10          2.00         0.50      Sentos
12          8.10         0.61          0.12         8.10   virginica
13          0.23         4.10          0.16         0.23   virginica
14          1.11         2.50          1.01         0.44      Sentos
15          1.60         6.10          2.20         0.41  versicolor
16          2.61         1.02          7.10         7.01   virginica
17          1.02         6.10          0.61         8.10      Sentos
18          6.10         1.06          6.12         2.30  versicolor

#more pandas fuction 
iris.mean()
iris.max()
iris.min()
iris.median()

In [39]:
iris.mean()

C:\Users\Tanushree Sahu\AppData\Local\Temp\ipykernel_5416\935066809.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.mean()

Sepal_length    2.778421
Sepal_width     2.396316
Petal_length    3.189474
Petal_width     2.930526
dtype: float64

In [40]:
iris.max()

Sepal_length          8.1
Sepal_width           7.1
Petal_length          8.1
Petal_width           8.1
Species         virginica
dtype: object

In [41]:
iris.min()

Sepal_length      0.22
Sepal_width       0.12
Petal_length      0.12
Petal_width       0.22
Species         Sentos
dtype: object

In [42]:
iris.median()

C:\Users\Tanushree Sahu\AppData\Local\Temp\ipykernel_5416\1297003277.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.median()

Sepal_length    1.60
Sepal_width     2.10
Petal_length    2.22
Petal_width     2.10
dtype: float64

In [43]:
iris.head()

   Sepal_length  Sepal_width  Petal_length  Petal_width     Species
0           2.5         0.44          1.67         3.00      Sentos
1           0.5         0.41          2.50         1.51  versicolor
2           4.4         0.12          8.10         2.20   virginica
3           1.5         3.10          7.40         2.10      Sentos
4           1.2         3.00          2.10         2.36      Sentos

In [44]:
def half(s):
    return s*0.5

In [45]:
iris[['Sepal_length',"Petal_length"]].apply(half)

    Sepal_length  Petal_length
0          1.250         0.835
1          0.250         1.250
2          2.200         4.050
3          0.750         3.700
4          0.600         1.050
5          2.550         1.165
6          3.150         1.400
7          3.850         1.650
8          0.250         3.350
9          0.800         1.110
10         0.110         1.080
11         0.250         1.000
12         4.050         0.060
13         0.115         0.080
14         0.555         0.505
15         0.800         1.100
16         1.305         3.550
17         0.510         0.305
18         3.050         3.060

In [46]:
# value_counts()......> counts particular columns values

iris["Species"].value_counts()

Sentos        7
virginica     7
versicolor    5
Name: Species, dtype: int64

In [47]:
# sort_values()
iris.sort_values(by="Sepal_length")

    Sepal_length  Sepal_width  Petal_length  Petal_width     Species
10          0.22         0.60          2.16         0.22  versicolor
13          0.23         4.10          0.16         0.23   virginica
1           0.50         0.41          2.50         1.51  versicolor
11          0.50         7.10          2.00         0.50      Sentos
8           0.50         2.36          6.70         0.50   virginica
17          1.02         6.10          0.61         8.10      Sentos
14          1.11         2.50          1.01         0.44      Sentos
4           1.20         3.00          2.10         2.36      Sentos
3           1.50         3.10          7.40         2.10      Sentos
9           1.60         1.10          2.22         1.60   virginica
15          1.60         6.10          2.20         0.41  versicolor
0           2.50         0.44          1.67         3.00      Sentos
16          2.61         1.02          7.10         7.01   virginica
2           4.40         0.12          8.10         2.20   virginica
5           5.10         1.51          2.33         1.10   virginica
18          6.10         1.06          6.12         2.30  versicolor
6           6.30         2.20          2.80         6.30  versicolor
7           7.70         2.10          3.30         7.70      Sentos
12          8.10         0.61          0.12         8.10   virginica